<%= form_for(@image) do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.text_field :title, class: "form-control", required: true, placeholder: "Caption", autofocus: true %>
  </div>
  <div class="form-group">
    <%= f.url_field :img_url, class: "form-control", required: true, placeholder: "What is your image's url?" %>
  </div>
  <div class="actions">
    <%= f.submit :save, class: "btn btn-primary" %>
    <%= link_to 'Back', root_path, class: "btn btn-default" %>
  </div>
<% end %>
